services:

  backend:
    build: backend
    secrets:
      - postgres-password
    ports:
      - 8080:8080
    environment:
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
    depends_on:
      db:
        condition: service_healthy
        restart: true

  db:
    image: postgres:17
    restart: always
    secrets:
      - postgres-password
#    volumes:
    expose:
      - ${POSTGRES_PORT}
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres-password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $$POSTGRES_DB -U $$POSTGRES_USER" ]
      interval: 2s
      timeout: 5s
      retries: 5

  swagger-ui:
    image: swaggerapi/swagger-ui:v5.20.0
    environment:
      SWAGGER_JSON: /oas/pet-sitter-openapi.yaml
    ports:
      - 9090:8080
    volumes:
      - ./backend/src/main/resources/openapi:/oas

secrets:
  postgres-password:
    file: db/password.txt
